* {
  margin: 0;
  padding: 0;
}

header {
  background-image: url("../img/fondo.jpg");
  background-size: contain;
}

#logo {
  width: 10%;
}

#titulo {
  margin-top: 0.5em;
  color: gray;
  text-align: center;
  font-size: 3em;
}
#destacados {
  text-align: center;
  text-decoration: overline;
}

.row img {
  height: 300px;
}
.card-body {
  text-align: center;
}

.container-form {
  background-color: #070707;
  opacity: 0.8;
  width: 40%;
  color: white;
  text-align: center;
  margin: auto;
  border-radius: 10px;
}

.container-form textarea {
  width: 80%;
  margin: auto;
}


#carousel-comida img {
  height: 600px;
}

footer {
  background-image: url("../img/fondo.jpg");
  background-repeat: no-repeat;
  background-color: black;
  height: 250px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Oculta formularios*/
@media (max-width: 991px) {
  .container-form{
    display: none;
  }
}
